# Importerer pandas og leser inn fil 1

In [35]:
import pandas as pd
df = pd.read_excel('dataTableStudents_I.xlsx')

# Leser inn fil 2

In [36]:
df2 = pd.read_excel('dataTableStudents_II.xlsx')
df2

,timeVectRelMinutes,engMdoPerformance_0_,engMdoPerformance_1_,engMdoPerformance_2_,engMdoPerformance_3_,engMdoConsumption_0_,engMdoConsumption_1_,engMdoConsumption_2_,engMdoConsumption_3_
0,0.000000,0.0,0.000,0,0.000,0.0,0.00,0.0,0.00
1,0.016650,0.0,0.000,0,0.000,0.0,0.00,0.0,0.00
2,0.033317,0.0,0.000,0,0.000,0.0,0.00,0.0,0.00
3,0.049983,0.0,0.000,0,0.000,0.0,0.00,0.0,0.00
4,0.066667,0.0,0.000,0,0.000,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...
604795,10079.916783,0.0,222.037,0,210.362,0.0,255.15,0.0,253.65
604796,10079.933483,0.0,212.690,0,235.104,0.0,259.90,0.0,258.75
604797,10079.950117,0.0,216.045,0,213.359,0.0,263.25,0.0,261.95
604798,10079.966800,0.0,223.550,0,222.416,0.0,263.35,0.0,256.10
604799,10079.983450,0.0,226.261,0,223.972,0.0,257.65,0.0,250.90

# Endrer navn på og gjør om tid-kolonnen til datetime

## datetime er en standardisert måte å vise tid på, trengs for å bruke funksjonen resample() til å aggregere

In [39]:
df.rename(columns= {'timeVectRelMinutes': 'datetime'}, inplace=True)
df['datetime'] = pd.to_datetime(df['datetime'], unit='m', origin='2020-01-30')
df2.rename(columns= {'timeVectRelMinutes': 'datetime'}, inplace=True)
df2['datetime'] = pd.to_datetime(df2['datetime'], unit='m', origin='2020-01-30')

ValueError: '0        2020-01-30 00:00:00.000000000
1        2020-01-30 00:00:00.998999939
2        2020-01-30 00:00:01.998999840
3        2020-01-30 00:00:02.998999800
4        2020-01-30 00:00:03.999999960
                      ...
604795   2020-02-05 23:59:55.006999740
604796   2020-02-05 23:59:56.008999740
604797   2020-02-05 23:59:57.006999600
604798   2020-02-05 23:59:58.007999820
604799   2020-02-05 23:59:59.006999760
Name: datetime, Length: 604800, dtype: datetime64[ns]' is not compatible with origin='2020-01-30'; it must be numeric with a unit specified

# Oppretter ny dataframe med minuttsoppløsning

In [40]:
minute_df = df.resample('min', on='datetime').mean().reset_index()
minute_df2 = df2.resample('min', on='datetime').mean().reset_index()

# Plot av hotel load med sekundoppløsning og minuttoppløsning

In [ ]:
df.plot(x='datetime', y='hotelLoad')
minute_df.plot(x='datetime', y='hotelLoad')

In [43]:
minute_df.loc[minute_df['operationId'] == 1]

,datetime,battery_0__actualPower,thrusterAndPropulsion,sumEngMdoPower,hotelLoad,shorePowerEstimated,numberOfMdoEnginesRunning,operationId,dpMode,engMdoPower_0_,engMdoPower_1_,engMdoPower_2_,engMdoPower_3_
737,2020-01-30 12:17:00,0.147541,0.0,0.000000,250.000000,249.852459,1.0,1.0,0.0,0.0,0.000000,0.0,0.000000
738,2020-01-30 12:18:00,-0.084746,0.0,0.000000,250.000000,250.084746,1.0,1.0,0.0,0.0,0.000000,0.0,0.000000
852,2020-01-30 14:12:00,-100.333333,0.0,341.033333,286.150000,45.450000,1.0,1.0,0.0,0.0,0.000000,0.0,341.033333
3102,2020-02-01 03:42:00,0.000000,0.0,290.216667,290.216667,0.000000,1.0,1.0,0.0,0.0,0.000000,0.0,290.216667
3103,2020-02-01 03:43:00,0.000000,0.0,282.866667,282.866667,0.000000,1.0,1.0,0.0,0.0,0.000000,0.0,282.866667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9585,2020-02-05 15:45:00,10.150000,0.0,313.933333,324.083333,0.000000,1.0,1.0,0.0,0.0,313.933333,0.0,0.000000
9586,2020-02-05 15:46:00,5.900000,0.0,285.300000,291.200000,0.000000,1.0,1.0,0.0,0.0,285.300000,0.0,0.000000
9587,2020-02-05 15:47:00,4.216667,0.0,315.516667,319.733333,0.000000,1.0,1.0,0.0,0.0,315.516667,0.0,0.000000
9588,2020-02-05 15:48:00,3.316667,0.0,310.750000,314.066667,0.000000,1.0,1.0,0.0,0.0,310.750000,0.0,0.000000
9589,2020-02-05 15:49:00,3.216667,0.0,346.783333,350.000000,0.000000,1.0,1.0,0.0,0.0,346.783333,0.0,0.000000

In [41]:
df

,datetime,battery_0__actualPower,thrusterAndPropulsion,sumEngMdoPower,hotelLoad,shorePowerEstimated,numberOfMdoEnginesRunning,operationId,dpMode,engMdoPower_0_,engMdoPower_1_,engMdoPower_2_,engMdoPower_3_
0,2020-01-30 00:00:00.000000000,0,0.0,0,250.0,250,0,6,0,0,0,0,0
1,2020-01-30 00:00:00.998999939,0,0.0,0,250.0,250,0,6,0,0,0,0,0
2,2020-01-30 00:00:01.998999840,0,0.0,0,250.0,250,0,6,0,0,0,0,0
3,2020-01-30 00:00:02.998999800,1,0.0,0,250.0,249,0,6,0,0,0,0,0
4,2020-01-30 00:00:03.999999960,1,0.0,0,250.0,249,0,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
604795,2020-02-05 23:59:55.006999740,-20,1386.0,2037,631.0,0,2,3,0,0,994,0,1043
604796,2020-02-05 23:59:56.008999740,11,1408.0,2009,612.0,0,2,3,0,0,1057,0,952
604797,2020-02-05 23:59:57.006999600,11,1430.0,2116,697.0,0,2,3,0,0,1054,0,1062
604798,2020-02-05 23:59:58.007999820,17,1430.0,2015,602.0,0,2,3,0,0,1019,0,996
604799,2020-02-05 23:59:59.006999760,-1,1386.0,1954,567.0,0,2,3,0,0,985,0,969

In [55]:
minute_df.to_excel('data_I_minres.xlsx')
minute_df2.to_excel('data_II_minres.xlsx')