# Leser inn begge filene og setter de sammen til ett datasett

In [2]:
import pandas as pd
df = pd.read_excel('dataTableStudents_I.xlsx')
df2 = pd.read_excel('dataTableStudents_II.xlsx')
df = df.join(df2, lsuffix='_Dataset 1', rsuffix='_Dataset 2')
print(df)

        timeVectRelMinutes_Dataset 1  battery_0__actualPower  \
0                           0.000000                       0
1                           0.016650                       0
2                           0.033317                       0
3                           0.049983                       1
4                           0.066667                       1
...                              ...                     ...
604795                  10079.916783                     -20
604796                  10079.933483                      11
604797                  10079.950117                      11
604798                  10079.966800                      17
604799                  10079.983450                      -1

        thrusterAndPropulsion  sumEngMdoPower  hotelLoad  shorePowerEstimated  \
0                         0.0               0      250.0                  250
1                         0.0               0      250.0                  250
2                         0.0               0      250.0                  250
3                         0.0               0      250.0                  249
4                         0.0               0      250.0                  249
...                       ...             ...        ...                  ...
604795                 1386.0            2037      631.0                    0
604796                 1408.0            2009      612.0                    0
604797                 1430.0            2116      697.0                    0
604798                 1430.0            2015      602.0                    0
604799                 1386.0            1954      567.0                    0

        numberOfMdoEnginesRunning  operationId  dpMode  engMdoPower_0_  ...  \
0                               0            6       0               0  ...
1                               0            6       0               0  ...
2                               0            6       0               0  ...
3                               0            6       0               0  ...
4                               0            6       0               0  ...
...                           ...          ...     ...             ...  ...
604795                          2            3       0               0  ...
604796                          2            3       0               0  ...
604797                          2            3       0               0  ...
604798                          2            3       0               0  ...
604799                          2            3       0               0  ...

        engMdoPower_3_  timeVectRelMinutes_Dataset 2  engMdoPerformance_0_  \
0                    0                      0.000000                   0.0
1                    0                      0.016650                   0.0
2                    0                      0.033317                   0.0
3                    0                      0.049983                   0.0
4                    0                      0.066667                   0.0
...                ...                           ...                   ...
604795            1043                  10079.916783                   0.0
604796             952                  10079.933483                   0.0
604797            1062                  10079.950117                   0.0
604798             996                  10079.966800                   0.0
604799             969                  10079.983450                   0.0

        engMdoPerformance_1_  engMdoPerformance_2_  engMdoPerformance_3_  \
0                      0.000                     0                 0.000
1                      0.000                     0                 0.000
2                      0.000                     0                 0.000
3                      0.000                     0                 0.000
4                      0.000                     0                 0.000
...                      ...                   ...                   ...
604795               222.037                     0               210.362
604796               212.690                     0               235.104
604797               216.045                     0               213.359
604798               223.550                     0               222.416
604799               226.261                     0               223.972

        engMdoConsumption_0_  engMdoConsumption_1_  engMdoConsumption_2_  \
0                        0.0                  0.00                   0.0
1                        0.0                  0.00                   0.0
2                        0.0                  0.00                   0.0
3                        0.0                  0.00                   0.0
4                        0.0                  0.00                   0.0
...                      ...                   ...                   ...
604795                   0.0                255.15                   0.0
604796                   0.0                259.90                   0.0
604797                   0.0                263.25                   0.0
604798                   0.0                263.35                   0.0
604799                   0.0                257.65                   0.0

        engMdoConsumption_3_
0                       0.00
1                       0.00
2                       0.00
3                       0.00
4                       0.00
...                      ...
604795                253.65
604796                258.75
604797                261.95
604798                256.10
604799                250.90

[604800 rows x 22 columns]

In [4]:
print(df.columns)

Index(['timeVectRelMinutes_Dataset 1', 'battery_0__actualPower',
       'thrusterAndPropulsion', 'sumEngMdoPower', 'hotelLoad',
       'shorePowerEstimated', 'numberOfMdoEnginesRunning', 'operationId',
       'dpMode', 'engMdoPower_0_', 'engMdoPower_1_', 'engMdoPower_2_',
       'engMdoPower_3_', 'timeVectRelMinutes_Dataset 2',
       'engMdoPerformance_0_', 'engMdoPerformance_1_', 'engMdoPerformance_2_',
       'engMdoPerformance_3_', 'engMdoConsumption_0_', 'engMdoConsumption_1_',
       'engMdoConsumption_2_', 'engMdoConsumption_3_'],
      dtype='object')

# NÃ¸kkeltall for kolonnene i de 9 neste cellene

In [6]:
df.battery_0__actualPower.describe()

count    604800.000000
mean         -0.380103
std          78.325232
min        -863.000000
25%          -5.000000
50%           0.000000
75%           8.000000
max         725.000000
Name: battery_0__actualPower, dtype: float64

In [8]:
df.thrusterAndPropulsion.describe()

count    604800.000000
mean        595.090588
std         544.110951
min           0.000000
25%           0.000000
50%         480.810000
75%        1144.000000
max        3741.740000
Name: thrusterAndPropulsion, dtype: float64

In [3]:
df.hotelLoad.describe()

count    604800.000000
mean        432.619608
std         167.741535
min        -431.740000
25%         250.000000
50%         416.000000
75%         553.000000
max        1823.040000
Name: hotelLoad, dtype: float64

In [10]:
df.sumEngMdoPower.describe()

count    604800.000000
mean        953.869813
std         761.212179
min           0.000000
25%           0.000000
50%         961.000000
75%        1657.000000
max        4455.000000
Name: sumEngMdoPower, dtype: float64

In [11]:
df.shorePowerEstimated.describe()

count    604800.000000
mean         74.220486
std         119.264523
min           0.000000
25%           0.000000
50%           0.000000
75%         249.000000
max         354.000000
Name: shorePowerEstimated, dtype: float64

In [13]:
df.engMdoPower_0_.describe()

count    604800.000000
mean        111.577940
std         274.123313
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2072.000000
Name: engMdoPower_0_, dtype: float64

In [14]:
df.engMdoPower_1_.describe()

count    604800.000000
mean        500.024058
std         626.336058
min           0.000000
25%           0.000000
50%         304.000000
75%         741.000000
max        2182.000000
Name: engMdoPower_1_, dtype: float64

In [15]:
df.engMdoPower_2_.describe()

count    604800.0
mean          0.0
std           0.0
min           0.0
25%           0.0
50%           0.0
75%           0.0
max           0.0
Name: engMdoPower_2_, dtype: float64

In [16]:
df.engMdoPower_3_.describe()

count    604800.000000
mean        342.267816
std         472.450531
min           0.000000
25%           0.000000
50%           0.000000
75%         567.000000
max        2145.000000
Name: engMdoPower_3_, dtype: float64

In [25]:
# summen av batteri input og output
df.battery_0__actualPower.sum()

-229886

In [38]:
# Sjekker alle kolonner hvor batteriet lades
df.loc[df['battery_0__actualPower'] < 0]

,timeVectRelMinutes,battery_0__actualPower,thrusterAndPropulsion,sumEngMdoPower,hotelLoad,shorePowerEstimated,numberOfMdoEnginesRunning,operationId,dpMode,engMdoPower_0_,engMdoPower_1_,engMdoPower_2_,engMdoPower_3_
7,0.116650,-1,0.0,0,250.0,251,0,6,0,0,0,0,0
8,0.133333,-1,0.0,0,250.0,251,0,6,0,0,0,0,0
16,0.266650,-1,0.0,0,250.0,251,0,6,0,0,0,0,0
17,0.283317,-1,0.0,0,250.0,251,0,6,0,0,0,0,0
18,0.299983,-1,0.0,0,250.0,251,0,6,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
604785,10079.750133,-1,1474.0,2047,572.0,0,2,3,0,0,1018,0,1029
604787,10079.783450,-25,1430.0,2060,605.0,0,2,3,0,0,1063,0,997
604794,10079.900117,-18,1386.0,1925,521.0,0,2,3,0,0,947,0,978
604795,10079.916783,-20,1386.0,2037,631.0,0,2,3,0,0,994,0,1043
604799,10079.983450,-1,1386.0,1954,567.0,0,2,3,0,0,985,0,969

# Estimat pÃ¥ virkningsgrad/validering av data

In [7]:
battery_input = 0
battery_output = 0
for value in df['battery_0__actualPower']:
    if value >= 0:
        battery_output += value
    else: battery_input += abs(value)

battery_efficiency = float(battery_output/battery_input)
print(battery_efficiency)

9408108
9178222
0.9755651189378354

# Estimat pÃ¥ hele systemets virkningsgrad/validering

In [10]:
# total efficiency: sumdopower+shore/thruster&prop + hotel
system_efficiency = float((df.sumEngMdoPower.sum() + df.shorePowerEstimated.sum())/\
                          (df.thrusterAndPropulsion.sum() + df.hotelLoad.sum()))
print(system_efficiency)

1.0003698537918824

In [1]:
print('Hei')

Hei